<main class="h-screen bg-gray-800 text-gray-100">
  <div class="h-screen py-10 flex flex-col justify-center items-center">
    <div class="w-1/2 mx-auto relative bg-gray-700 rounded-t-lg">
      <div class="w-1/2 h-20 flex justify-between items-center bg-gray-900 rounded-t-lg text-center fixed px-5">
        <app-header [concurrentUsers]="userSvc.concurrentUsers$ | async"></app-header>
      </div>
      <div #chatHistory id="chat-history" class="max-w-1/2 mt-20 py-5 px-10 overflow-y-auto">
        <ng-container *ngIf="!isEmpty && !isLoading">
          <div class="p-2" *ngFor="let msg of recentMessages" [@fadeSlideInLTR]>
            <app-incoming-message [message]="msg"></app-incoming-message>
          </div>

          <div class="p-2" *ngFor="let msg of messages" [@fadeSlideInLTR]>
            <div *ngIf="msg.username === currentUser?.name; else incoming">
              <app-outgoing-message [message]="msg"></app-outgoing-message>
            </div>

            <ng-template #incoming>
              <app-incoming-message [message]="msg"></app-incoming-message>
            </ng-template>
          </div>
        </ng-container>

        <div class="text-center" *ngIf="isEmpty" [@fadeSlideInRTL]><p>No messages yet!</p></div>
        <div class="text-center relative h-20" *ngIf="isLoading">
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0)"
            color="#ffffff"
            size="default"
            type="ball-fall"
            [fullScreen]="false"
          ></ngx-spinner>
        </div>
      </div>
    </div>
    <div class="w-1/2 mx-auto mt-px text-gray-400 text-base">
      <div class="w-full h-12 py-1 flex justify-center items-center rounded-b-lg bg-gray-900">
        <div class="w-full relative" *ngIf="isLoading || userLoading; else loaded">
          <ngx-spinner
            bdColor="rgba(0, 0, 0, 0)"
            color="#ffffff"
            size="small"
            type="ball-spin"
            [fullScreen]="false"
          ></ngx-spinner>
        </div>
        <ng-template #loaded>
          <div class="w-full" *ngIf="currentUser?.name?.length; else logIn" [@fadeIn]>
            <form class="w-full flex items-center gap-5" [formGroup]="chatFormGroup" (ngSubmit)="sendMessage()">
              <div class="w-full">
                <input
                  cdkFocusInitial
                  appNoEmptyWhitespace
                  class="w-full h-12 px-6 py-1 rounded-b-lg bg-gray-900 focus:outline-none focus:ring-1 focus:border-gray-400"
                  type="text"
                  placeholder="Type something.."
                  formControlName="message"
                />
              </div>
            </form>
          </div>

          <ng-template #logIn>
            <div class="text-center" [@fadeSlideInLTR]>
              <button
                type="button"
                class="transition-colors hover:text-gray-200 focus:outline-none"
                (click)="openDropdown()"
              >
                Log in to chat
              </button>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div class="absolute bottom-0 mb-5">
      <small
        >made with ❤️ by
        <a
          class="text-blue-300 hover:text-blue-500 transition-colors"
          target="_blank"
          href="https://github.com/fsouzadi1995"
          >fsouzadi1995</a
        ></small
      >
    </div>
  </div>
</main>
